{
    "openapi": "3.0.1",
    "info": {
        "title": "CRM Associations",
        "version": "v4",
        "x-hubspot-product-tier-requirements": {
            "marketing": "FREE",
            "sales": "FREE",
            "service": "FREE",
            "cms": "STARTER"
        },
        "x-hubspot-documentation-banner": "NONE",
        "x-hubspot-api-use-case": "When an existing contact has moved to a new company, update their associated company to keep your CRM up to date.",
        "x-hubspot-related-documentation": [
            {
                "name": "Associations guide",
                "url": "https://developers.hubspot.com/docs/guides/api/crm/associations/associations-v4"
            }
        ],
        "x-hubspot-introduction": "Use the associations API to create, retrieve, update, or delete associations between records, or between records and activities. "
    },
    "servers": [
        {
            "url": "https://api.hubapi.com/crm/v4"
        }
    ],
    "tags": [
        {
            "name": "Batch"
        },
        {
            "name": "Report"
        },
        {
            "name": "Basic"
        }
    ],
    "paths": {
        "/associations/{fromObjectType}/{toObjectType}/batch/archive": {
            "post": {
                "tags": [
                    "Batch"
                ],
                "summary": "Removes Links Between Objects",
                "description": "Batch delete associations for objects",
                "operationId": "post-/associations/{fromObjectType}/{toObjectType}/batch/archive_archive",
                "parameters": [
                    {
                        "name": "fromObjectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The CRM object type of the source object in the association to archive."
                    },
                    {
                        "name": "toObjectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The CRM object type of the target object in the association to archive."
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputPublicAssociationMultiArchive"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Returns `http:Response` with status **204 No Content** on success, indicating successful deletion",
                        "content": {}
                    },
                    "default": {
                        "description": "An error occurred.",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "private_apps": [
                            "crm.objects.listings.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.services.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.listings.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "media_bridge.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.orders.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.deals.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.appointments.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.orders.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.subscriptions.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.deals.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "contacts"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.subscriptions.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.companies.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.companies.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.goals.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.users.write"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "media_bridge.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.companies.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.companies.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "tickets"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.users.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.custom.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.users.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.users.write"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.carts.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.carts.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "tickets"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.goals.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.appointments.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.custom.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.contacts.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.orders.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.services.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.services.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.orders.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.commercepayments.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.commercepayments.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.contacts.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.deals.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.deals.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.appointments.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.invoices.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.appointments.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.invoices.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.leads.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.quotes.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.quotes.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.leads.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.leads.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.courses.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.partner-clients.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.contacts.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.contacts.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.line_items.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.partner-clients.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.leads.read"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.custom.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.custom.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.line_items.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.listings.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.courses.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.courses.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.listings.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.carts.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.courses.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.quotes.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.partner-clients.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.services.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.carts.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.partner-clients.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.quotes.read"
                        ]
                    }
                ],
                "x-hubspot-rate-limit-exemptions": [
                    "ten-secondly"
                ]
            }
        },
        "/associations/{fromObjectType}/{toObjectType}/batch/create": {
            "post": {
                "tags": [
                    "Batch"
                ],
                "summary": "Creates Custom Associations",
                "description": "Batch create associations for objects",
                "operationId": "post-/associations/{fromObjectType}/{toObjectType}/batch/create_create",
                "parameters": [
                    {
                        "name": "fromObjectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The CRM object type of the source object in the association to create."
                    },
                    {
                        "name": "toObjectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The CRM object type of the target object in the association to create."
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputPublicAssociationMultiPost"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseLabelsBetweenObjectPair"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseLabelsBetweenObjectPairWithErrors"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred.",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "private_apps": [
                            "crm.objects.listings.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.services.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.listings.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "media_bridge.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.orders.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.deals.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.appointments.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.orders.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.subscriptions.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.deals.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "contacts"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.subscriptions.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.companies.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.companies.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.goals.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.users.write"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "media_bridge.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.companies.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.companies.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "tickets"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.users.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.custom.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.users.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.users.write"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.carts.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.carts.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "tickets"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.goals.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.appointments.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.custom.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.contacts.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.orders.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.services.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.services.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.orders.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.commercepayments.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.commercepayments.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.contacts.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.deals.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.deals.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.appointments.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.invoices.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.appointments.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.invoices.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.leads.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.quotes.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.quotes.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.leads.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.leads.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.courses.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.partner-clients.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.contacts.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.contacts.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.line_items.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.partner-clients.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.leads.read"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.custom.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.custom.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.line_items.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.listings.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.courses.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.courses.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.listings.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.carts.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.courses.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.quotes.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.partner-clients.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.services.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.carts.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.partner-clients.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.quotes.read"
                        ]
                    }
                ],
                "x-hubspot-rate-limit-exemptions": [
                    "ten-secondly"
                ]
            }
        },
        "/associations/usage/high-usage-report/{userId}": {
            "post": {
                "tags": [
                    "Report"
                ],
                "summary": "Request high-usage associations repor",
                "description": "Requests a report of all objects in the portal which have a high usage of associations",
                "operationId": "post-/associations/usage/high-usage-report/{userId}_request",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "The ID of the user for whom the high-usage association report is requested.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportCreationResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred.",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "private_apps": [
                            "crm.objects.listings.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.services.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.listings.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "media_bridge.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.orders.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.deals.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.appointments.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.orders.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.subscriptions.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.deals.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "contacts"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.subscriptions.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.companies.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.companies.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.goals.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.users.write"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "media_bridge.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.companies.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.companies.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "tickets"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.users.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.custom.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.users.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.users.write"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.carts.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.carts.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "tickets"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.goals.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.appointments.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.custom.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.contacts.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.orders.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.services.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.services.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.orders.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.commercepayments.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.commercepayments.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.contacts.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.deals.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.deals.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.appointments.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.invoices.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.appointments.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.invoices.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.leads.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.quotes.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.quotes.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.leads.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.leads.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.courses.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.partner-clients.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.contacts.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.contacts.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.line_items.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.partner-clients.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.leads.read"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.custom.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.custom.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.line_items.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.listings.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.courses.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.courses.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.listings.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.carts.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.courses.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.quotes.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.partner-clients.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.services.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.carts.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.partner-clients.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.quotes.read"
                        ]
                    }
                ],
                "x-hubspot-rate-limit-exemptions": [
                    "ten-secondly"
                ]
            }
        },
        "/associations/{fromObjectType}/{toObjectType}/batch/labels/archive": {
            "post": {
                "tags": [
                    "Batch"
                ],
                "summary": "Delete Specific Labels",
                "description": "Batch delete specific association labels for objects. Deleting an unlabeled association will also delete all labeled associations between those two objects",
                "operationId": "post-/associations/{fromObjectType}/{toObjectType}/batch/labels/archive_archiveLabels",
                "parameters": [
                    {
                        "name": "fromObjectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The CRM object type of the source object whose association labels will be archived."
                    },
                    {
                        "name": "toObjectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The CRM object type of the target object whose association labels will be archived."
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputPublicAssociationMultiPost"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Returns `http:Response` with status **204 No Content** on success, indicating successful deletion",
                        "content": {}
                    },
                    "default": {
                        "description": "An error occurred.",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "private_apps": [
                            "crm.objects.listings.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.services.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.listings.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "media_bridge.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.orders.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.deals.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.appointments.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.orders.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.subscriptions.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.deals.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "contacts"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.subscriptions.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.companies.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.companies.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.goals.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.users.write"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "media_bridge.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.companies.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.companies.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "tickets"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.users.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.custom.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.users.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.users.write"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.carts.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.carts.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "tickets"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.goals.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.appointments.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.custom.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.contacts.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.orders.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.services.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.services.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.orders.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.commercepayments.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.commercepayments.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.contacts.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.deals.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.deals.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.appointments.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.invoices.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.appointments.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.invoices.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.leads.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.quotes.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.quotes.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.leads.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.leads.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.courses.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.partner-clients.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.contacts.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.contacts.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.line_items.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.partner-clients.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.leads.read"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.custom.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.custom.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.line_items.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.listings.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.courses.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.courses.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.listings.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.carts.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.courses.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.quotes.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.partner-clients.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.services.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.carts.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.partner-clients.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.quotes.read"
                        ]
                    }
                ],
                "x-hubspot-rate-limit-exemptions": [
                    "ten-secondly"
                ]
            }
        },
        "/associations/{fromObjectType}/{toObjectType}/batch/read": {
            "post": {
                "tags": [
                    "Batch"
                ],
                "summary": "Read Associations",
                "description": "Batch read associations for objects to specific object type. The 'after' field in a returned paging object  can be added alongside the 'id' to retrieve the next page of associations from that objectId. The 'link' field is deprecated and should be ignored. Note: The 'paging' field will only be present if there are more pages and absent otherwise.",
                "operationId": "post-/associations/{fromObjectType}/{toObjectType}/batch/read_getPage",
                "parameters": [
                    {
                        "name": "fromObjectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The CRM object type of the source objects whose associations will be read."
                    },
                    {
                        "name": "toObjectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The CRM object type of the target objects whose associations will be read."
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputPublicFetchAssociationsBatchRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponsePublicAssociationMultiWithLabel"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponsePublicAssociationMultiWithLabelWithErrors"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred.",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "private_apps": [
                            "crm.objects.listings.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.services.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.listings.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "media_bridge.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.orders.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.deals.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.appointments.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.orders.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.subscriptions.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.deals.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "contacts"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.subscriptions.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.companies.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.companies.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.goals.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.users.write"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "media_bridge.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.companies.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.companies.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "tickets"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.users.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.custom.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.users.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.users.write"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.carts.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.carts.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "tickets"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.goals.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.appointments.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.custom.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.contacts.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.orders.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.services.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.services.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.orders.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.commercepayments.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.commercepayments.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.contacts.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.deals.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.deals.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.appointments.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.invoices.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.appointments.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.invoices.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.leads.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.quotes.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.quotes.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.leads.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.leads.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.courses.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.partner-clients.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.contacts.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.contacts.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.line_items.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.partner-clients.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.leads.read"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.custom.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.custom.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.line_items.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.listings.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.courses.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.courses.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.listings.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.carts.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.courses.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.quotes.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.partner-clients.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.services.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.carts.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.partner-clients.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.quotes.read"
                        ]
                    }
                ],
                "x-hubspot-rate-limit-exemptions": [
                    "ten-secondly"
                ]
            }
        },
        "/associations/{fromObjectType}/{toObjectType}/batch/associate/default": {
            "post": {
                "tags": [
                    "Batch"
                ],
                "summary": "Batch create default associations",
                "description": "Create the default (most generic) association type between two object types",
                "operationId": "post-/associations/{fromObjectType}/{toObjectType}/batch/associate/default_createDefault",
                "parameters": [
                    {
                        "name": "fromObjectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The CRM object type of the source object for the default association to create."
                    },
                    {
                        "name": "toObjectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The CRM object type of the target object for the default association to create."
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputPublicDefaultAssociationMultiPost"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponsePublicDefaultAssociation"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred.",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "private_apps": [
                            "crm.objects.listings.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.services.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.listings.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "media_bridge.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.orders.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.deals.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.appointments.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.orders.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.subscriptions.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.deals.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "contacts"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.subscriptions.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.companies.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.companies.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.goals.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.users.write"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "media_bridge.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.companies.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.companies.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "tickets"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.users.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.custom.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.users.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.users.write"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.carts.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.carts.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "tickets"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.goals.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.appointments.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.custom.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.contacts.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.orders.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.services.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.services.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.orders.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.commercepayments.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.commercepayments.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.contacts.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.deals.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.deals.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.appointments.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.invoices.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.appointments.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.invoices.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.leads.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.quotes.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.quotes.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.leads.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.leads.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.courses.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.partner-clients.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.contacts.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.contacts.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.line_items.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.partner-clients.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.leads.read"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.custom.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.custom.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.line_items.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.listings.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.courses.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.courses.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.listings.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.carts.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.courses.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.quotes.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.partner-clients.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.services.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.carts.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.partner-clients.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.quotes.read"
                        ]
                    }
                ],
                "x-hubspot-rate-limit-exemptions": [
                    "ten-secondly"
                ]
            }
        },
        "/objects/{objectType}/{objectId}/associations/{toObjectType}/{toObjectId}": {
            "put": {
                "tags": [
                    "Basic"
                ],
                "summary": "Create association labels",
                "description": "Set association labels between two records.",
                "operationId": "put-/objects/{objectType}/{objectId}/associations/{toObjectType}/{toObjectId}_create",
                "parameters": [
                    {
                        "name": "objectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The CRM object type of the source object for the association being created."
                    },
                    {
                        "name": "objectId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The unique identifier of the source CRM object for the association being created."
                    },
                    {
                        "name": "toObjectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The CRM object type of the target object for the association being created."
                    },
                    {
                        "name": "toObjectId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The unique identifier of the target CRM object for the association being created."
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/AssociationSpec"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LabelsBetweenObjectPair"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred.",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "private_apps": [
                            "crm.objects.listings.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.services.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.listings.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "media_bridge.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.orders.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.deals.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.appointments.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.orders.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.subscriptions.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.deals.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "contacts"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.subscriptions.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.companies.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.companies.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.goals.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.users.write"
                        ]
                    },
                    {
[...]
